.header {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100vw;
    height: 10px;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 8px;
    font-weight: 800;
    color: blue;  
    background: pink;
}