@tailwind base; 
@tailwind components;
@tailwind utilities;

/* import { roboto } from 'next/font/google'; */

/*const roboto = Roboto({
  weight: ['400', '700']
  style: ['normal', 'italic'],
  subsets: ['latin'],
  display: 'swap',
}) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html, 
body {  
  width: 100%;
  height: 100%;
  font-family: "roboto";
  background-color: black;
  color: #000000;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  height: 100vh;
}

.hero-img {
  width: 15%;
  aspect-ratio: 1 / 1;
}

.footer {
  width: 100%;
  height: 50vh;
  align-items: flex-start;
}

.footer a {
  font-size: 4vw;
  color: #ffffff;
}

.main {
  width: 100vw;
  height: 150vh;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
}

.row {
  position: relative;
  width: 100vw;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.card {
  position: relative;
  width: 40%;
  height: 360px;
  border-radius: 0.75em;
  overflow: hidden;
  will-change: transform;
}

.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  border: 2px solid #ffffff;
  border-radius: 100%;
  overflow: hidden;
  transform: scale(0);
}

.copy {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  position: relative;
  margin: 0.5em 0;
  width: 28px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  color: #fff;
}

.line p {
  position: relative;
  font-size: 24px;
  transform: translateY(30px);
}

button {
  position: relative;
  padding: 1em 2em;
  font-size: 18px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8em;
  background: none;
  outline: none;
  transform: translateY(30px);
  opacity: 0;
}

.page-content {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 6em 2em;
}

.page-content.hero {
  background-color: black;
  background-size: cover;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: rgb(255, 255, 255);
}

h1 sup {
  position: relative;
  top: -20%;
  left: 10px;
  font-size: 1.5vw;
  letter-spacing: 0;
}

.target {
  display: inline-block;
  white-space: nowrap;
}

@media (max-width: 1200px) {
  .card {
    width: 50%;
    height: 240px;
  }

    .nav-links {
      flex-direction: column;
      align-items: center;
      font-size: 35px !important;
    }

  }
